extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Stefano Noventa

        //- Feel free personalize the title below
        p.lead.text-light
          | Lifelong learner. Ambitious. Full Stack Software Engineer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi! I am Stefano. I have a background in retail and sales, and in recent years my interest has shifted to tech, more specifically software security
            | and development, a long time passion of mine. I pursued a bachelor of science in cybersecurity and obtained a global security certification, 
            | the compTIA Security+. The Internet, has always fascinated me; how information is presented to the users, and how data travels from one part of the world to
            | another one in just fractions of seconds. This led me to want to specialize in web development. I am a full stack developer leveraging the latest technologies. 
        
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML/CSS
          li Bootstrap
          li jQuery
          li Node.js
          li Express.js 
          li MongoDB
          li React
        h6 Contact Info

        //- Add your own contact info
        ul
          li +971 566415779
          li myemail@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='#') LinkedIn
        a.button.expanded(href='https://github.com/polusa' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/polusa' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  